# Dependencias (Evita que se suban miles de archivos innecesarios)
node_modules/

# Variables de entorno (AQUÍ ES DONDE VAN TUS CONTRASEÑAS)
.env
.env.local
.env*

# Archivos del sistema
.DS_Store
Thumbs.db